Source: mingw-w64-libcroco
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-libcroco.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-libcroco.git

Package: mingw-w64-libcroco-dev
Section: libdevel
Architecture: any
Depends: mingw-w64-libcrocoBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: mingw-w64-libcrocoBROKEN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
